:root {
  --accent-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color: #212121;
  --description-color: #757575;
  --color-logo-dark-theme: #000000;
  --footer-color-link: rgba(255, 255, 255, 0.6);
  --color-modal-btn-address: #ffffff;
}
body {
  font-family: var(--main-font);
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
/*================HEADER================== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-color-light-theme,
.logo-color-light-theme:hover,
.logo-color-light-theme:focus {
  color: var(--color-logo-dark-theme);
}
.logo-color-dark-theme,
.logo-color-dark-theme:hover,
.logo-color-dark-theme:focus {
  color: var(--color-modal-btn-address);
}
.logo-color {
  color: var(--accent-color);
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}
/*================END HEADER================== */

/*================HERO================== */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-modal-btn-address);
}
/*================END HERO================== */

/*================ADVANTAGES================== */
.adv-list-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.adventages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*===============END ADVANTAGES================== */

/*=================OUR TEAM====================== */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*===============END OUR TEAM===================== */

/*=================FOOTER====================== */
.address-footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-color-link);
}
.address-footer-link:hover,
.address-footer-link:focus {
  color: var(--color-modal-btn-address);
}

/*=================END FOOTER====================== */

/*=================PORTFOLIO====================== */
.navigation-list-link-portfolio,
.navigation-list-link-portfolio:hover {
  color: var(--accent-color);
}
.our-work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: vae(--title-color);
}
.our-work-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.tabs-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.tabs-list-link:hover,
.tabs-link-link:focus {
  color: var(--color-modal-btn-address);
}
/*===============END PORTFOLIO==================== */
